/**
*   ! default things
**/
:root{
    --clr-eagle-green: #1a535c;
    --clr-sweet-red: #ff6b6b;
    --clr-spanish-pink: #fcbcb8;
    --clr-smith-apple: #beedaa;
    --clr-tea-green: #d5ffd9;
}

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: aquamarine;
    height: 100vh;
}
/**
*   ! za velicinu ekrana >= 800px
**/
/**
*   ! meni
**/

#meni{
    height: 10%;
    background-color: var(--clr-eagle-green);
    display: flex;
    align-items: center;
    padding-left:1rem ;
}
#meni a{
    color: var(--clr-smith-apple);
    margin-right: 1rem;
}

/**
*   ! studenti
**/
.sg{
    display: flex;
    height: 90%;
}
#studenti{
    border: 1px solid black;
    background-color: var(--clr-tea-green) ;
    height:100%;
    width: 59%;
    float:left;
    margin:auto;
}
/**
*   ! grupe
**/
#grupe{
    border: 1px solid black;
    height: 100%;
    width: 41%;
    float: right;
    display: flex;
    justify-content: center;
    padding: 2rem;
}
/**
*   !   tabela
**/
table{
    height: fit-content;
    text-align: center;
    width: 90%;
}
#grupe table thead tr th, 
#grupe table tbody tr td{
    border: 1px solid black;
    height: fit-content;
    width: fit-content;
    padding: 0.3rem;
}


/**
*   ! media query
**/
@media  (min-width: 500px) 
  and (max-width: 799px){

      .sg{
          display: flex;
          flex-direction: column;
      }
      #grupe, #studenti{
         width: 100%;
         height: 10rem;
      }
}

@media  (max-width: 499px){
    #meni{
        display: flex;
        flex-direction: column;
    }
    #meni a{
        width:100%
    }
      .sg{
          display: flex;
          flex-direction: column;
      }
      #grupe, #studenti{
         width: 100%;
         height: 10rem;
      }
     #studenti{
          order: 2;
      }
      #grupe{
          order:1;
      }
      .broj_studenata, .termin{
         display: none;
      }
}