/**
*   ! default things
**/
:root{
    --clr-green: #A8EB12;
    --clr-dark-blue:#051937;
}
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
}
/**
*   ! za velicinu ekrana >= 800px
**/
/**
*   ! meni
**/

#meni{
    height: 100px;
    background-color: var(--clr-dark-blue);
    display: flex;
    align-items: center;
    padding-left:1rem ;
}
#meni a{
    color: white;
    margin-right: 1rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-decoration: none;
}

/**
*   ! studenti
**/
.sg{
    display: flex;
    height: calc(100% - 100px);
}
#studenti{
    border: 1px solid black;
    height:100%;
    width: 59%;
    float:left;
    padding: 20px;
 
}

/**
*   ! grupe
**/
#grupe{
    border: 1px solid black;
    height: 100%;
    width: 41%;
    float: right;
    display: flex;
    justify-content: center;
    padding: 2rem;
}

/**
*   !   tabela
**/
table{
    height: fit-content;
    text-align: center;
    width: 90%;
}
#grupe table thead tr th, 
#grupe table tbody tr td{
    border: 1px solid black;
    height: fit-content;
    width: fit-content;
    padding: 0.3rem;
}

/**
* ! grid
*/
.grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: auto;
    gap: 20px;
    overflow-wrap: break-word;
}
.student {
   display: flex;
   background-color: var(--clr-green);
   width: minmax(fit-content, 100%);
   padding: 0.4rem;
   border: 2px solid var(--clr-dark-blue);
   height: fit-content;
   justify-content: space-between;
}

/**
*   ! media query
**/
@media screen and (max-width: 799px){
      .sg{
          display: flex;
            flex-direction: column;
      }
      #grupe, #studenti{
         width: 100%;
         height: auto;
      }
      #studenti{
          order: 2;
          margin-top:1px;
      }
      #grupe{
          order:1;
      }    
      .grid{
        grid-template-columns: repeat(1, 1fr);
      }      
}

@media screen and (max-width: 499px){
    #meni{
        display: flex;
        flex-direction: column;
        padding: 0;
        justify-content: center;
        text-align: center;
    }
    #meni a{
        width:100%;
        margin:0;
    }
      .sg{
          display: flex;
          flex-direction: column;
      }
      #grupe, #studenti{
         width: 100%;
         height: fit-content;
      }
      .broj_studenata, .termin{
         display: none;
      }
      .grid{
        grid-template-columns: repeat(1, 1fr);
      }
}