:root{
    --clr-green: #A8EB12;
    --clr-dark-blue:#051937;
}

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
}

#meni{
    height: 100px;
    background-color: #051937;
    display: flex;
    align-items: center;
    padding-left:1rem ;
}
#meni a{
    color: white;
    margin-right: 1rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-decoration: none;
}
.vv{
    width: 100%;
    height: calc(100% - 100px);
    display: flex;
}
#odabirVjezbe{
    height: 100%;
    width:100%;
}
.vjezba{
    height: 3.5rem;
    width: auto;
    border-radius: 10px;
    text-align: center;
    padding: 1rem;
    margin:0.7rem 0.5rem;
    background-color: var(--clr-dark-blue);
    text-transform: uppercase;
    color: white;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    letter-spacing: 0.1rem;
}
.vjezba:hover{
    border:2px solid var(--clr-green);
    box-shadow: 0px 1px 10px 2px var(--clr-green);
}
.zadaci{
    display: flex;
    flex-wrap: wrap;
    margin: 0.5rem;
    gap: 0.5rem;
    border: 1px solid var(--clr-dark-blue);
    border-top: none;
    padding: 0.5rem;
    border-radius: 10px;
    
}
.zadaci div{
    padding: 0.5rem;
    border: 1px solid var(--clr-dark-blue);
    border-radius: 10px;
    background-color: var(--clr-green);
    color: var(--clr-dark-blue);
    text-transform: uppercase;
    font-size:small;
}
.grafovi{
    background-color: var(--clr-green);
    width: 45%;
    height: 100%;
}
.divs{
    display: flex;
}
.graf{
    border:1px solid white;
    height: 10rem;
    width: 50%;
    background-image: url("/images/graf.png");
    background-size: cover;
    background-size: contain;
    background-repeat: no-repeat;
    background-position:center;
}
@media (max-width: 799px){
    .grafovi{
        width: 100%;
    }
    .divs{
        flex-direction: column;
    }
    .graf{
        width: 100%;
        height: 15rem;
        background-size: contain;
        background-repeat: no-repeat;
        background-position:center;
        margin: 1rem;
    }
    .vv{
        display: flex;
        flex-direction: column;
        height: auto;
        margin:0
    }
    #odabirVjezbe{
        display: block;
        margin: 0;
    }
}